body {
    margin-top: 100px;

    text-align: center;
}

#timer {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 300;
}

button {
    width: 100px;
    height: 35px;
}

button:hover {
    cursor: pointer;
}